<div class="row bg-navbar sticky-top">
    <div class="col-1 my-auto bg-primary">
        <div class="btn d-lg-none">
            <i (click)="onMenuClick()" class="bi bi-list text-light display-3 "></i>
        </div>
    </div>
    <!-- Colonna sinistra con burger menu e scritte -->
    <div class="col-4 my-auto d-flex flex-column flex-lg-row justify-content-between align-items-center">
        <!-- Scritte orizzontali visibili da md in su -->
        <div class="mx-3">
            <h3 class="text-light d-none d-lg-block" style="cursor: pointer;">{{Link1}}</h3>
        </div>
        <div class="mx-3">
            <h3 class="text-light d-none d-lg-block" style="cursor: pointer;">{{Link2}}</h3>
        </div>
        <div class="mx-3">
            <h3 class="text-light d-none d-lg-block" style="cursor: pointer;">{{Link3}}</h3>
        </div>
    </div>
    <!-- Colonna centrale (logo) -->
    <div class="col-2 d-flex justify-content-center align-items-center">
        <img src="logo-ferrari.png" class="my-1" id="img-logo" alt="Logo">
    </div>
    <!-- Colonna destra con scritte -->
    <div class="col-4 my-auto d-flex flex-column flex-lg-row justify-content-between align-items-center">
        <div class="mx-3">
            <h3 class="text-light d-none d-lg-block" style="cursor: pointer;">{{Link4}}</h3>
        </div>
        <div class="mx-3">
            <h3 class="text-light d-none d-lg-block" style="cursor: pointer;">{{Link5}}</h3>
        </div>
        <div class="mx-3">
            <h3 class="text-light d-none d-lg-block" style="cursor: pointer;">{{Link6}}</h3>
        </div>
    </div>
    <div class="col-1"></div> <!--Wow-->
</div>
