<div id="fullscreenDiv" class="top-0 start-0 w-100 h-100 bg-success" style="z-index: 1050;">
    <app-navbar></app-navbar>
    <button (click)="onClose()" class="btn fs-5 btn-light position-absolute top-0 end-0 m-4">&times;</button>
    <div class="row conatiner-fluid mt-5">
      <div class="col-12 fs-2 my-auto text-center">
        <p class="text-light mt-4" style="cursor: pointer;">Racing</p>
        <p class="text-light mt-4" style="cursor: pointer;">Cars</p>
        <p class="text-light mt-4" style="cursor: pointer;">Storia</p>
        <p class="text-light mt-4" style="cursor: pointer;">Musei</p>
        <p class="text-light mt-4" style="cursor: pointer;">Collezione</p>
        <p class="text-light mt-4" style="cursor: pointer;">Info</p>
      </div>
    </div>
</div>